.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

header {
  text-align: center;
}

li.character-item {
  list-style: none;
  border: 2px solid black;
  text-align: left;
  padding: 2rem;
  cursor: pointer;
}

li.character-item p {
  margin-left: 5rem;
}

li.character-item h2, li.character-item p {
  display: inline-block;
}

li.character-item img.character-item-img {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
}

.hidden {
  display: none;
}