body {
  font-family: Helvetica;
}

h1 {
  text-align: center;
  font-size: 36px;
}

img {
  max-width: 100%;
}

p {
  font-size: 14px;
}

div.drawing-container {
  font-size: 18px;
}

.box {
  cursor: pointer;
  width: 30px;
  height: 30px;
  border: 1px solid black;
  display: inline-block;
}

.color {
  cursor: pointer;
  width: 35px;
  height: 35px;
  border: 2px solid black;
  border-radius: 50%;
  display: inline-block;
  opacity: 0.6;
}

.color.active {
  opacity: 1;
}

.drawing-container {
  width: 725px;
  margin: 0 auto;
  user-select: none;
}

.palette {
  text-align: center;
  margin-top: 15px;
}

.color.red {
  background: red;
}
.color.green {
  background: green;
}
.color.blue {
  background: blue;
}
.color.black {
  background: black;
}
.color.grey {
  background: grey;
}
.color.brown {
  background: brown;
}

.page {
  max-width: 900px;
  margin: 0 auto;
}

.characters-page {
  text-align: left;
}

/* character details */

.character .headshot-wrapper {
  display: inline-block;
  width: 20%;
}

.character .info-wrapper {
  margin-left: 2rem;
  display: inline-block;
  text-align: left;
}

/* nav bar */

.nav-bar {
  text-align: center;
  margin-bottom: 3rem;
}

.nav-bar a {
  margin: 1rem;
}

/* utility classes */

.hidden {
  display: none;
}